*{	
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	background-color: #000000;
	color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5' viewBox='0 0 4 4'%3E%3Cpath fill='%23700000' fill-opacity='0.3' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
	font-size: 16px;
	font-family: "Noto sans", sans-serif;

}

a{
	color: #ffffff;
	text-decoration: none;
}

header{
	width: 100%;
	height: 100px;
	top: 0;
	left: 0;
}

ul {
	list-style: none;
}

/*NAVIGATION*/

nav {
	background-color: #345;
}

.nav-main {
	font-size: 18px;
	display: flex;		
	height: 60px;
	padding-top: 5px;
	justify-content: space-between;	
}

.nav-brand {
	display: flex;
}

.nav-logo {
	width: 50px;		
}

.nav-title{
	font-size: 24px;
	text-align: center;	
	font-family: sans-serif;
	line-height: 2;
}

.nav-main ul {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #2f3640;
	height: 100%;
	padding: 30px 10px;
	opacity: 0.9;
	transform: translateX(-300px);
	transition: transform .5s ease-in-out; 
}

.nav-main ul.show{
	transform: translateX(0px);
}


.nav-menu-btn {
	padding: 10px;	

}

/*CATEGORIES*/

.categories{

}

.nav-categories {
	display: flex;
	justify-content: center;
	align-items: center;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.item-category {
	width: 150px;
	min-width: 120px;
	flex: 1;
}

.nav-categories > li > a {
    padding: 14px 10px;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;

}

.nav-categories > li > a.active {
    border-bottom: 2px solid #E64A19;
}



/*CARTA*/

.carta {
	max-width: 1200px;
  	margin: 0 auto;
  	display: grid;
  	grid-gap: 1rem;
}

.carta__product {	
  	background-color: dodgerblue;
  	color: white;
  	padding: 1rem;
  	height: 10rem;
  	position: relative;
}

h3.title__product {
	text-transform: uppercase;
	color: #221111;
	border-bottom: 1px solid orange;
}

p.product__description {
	font-size: 14px;
	padding: 5px 0;
}

.prices_list{
	position: absolute;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}

.price {	
	width: 150px;	
	background-color: #f26331;	
	border-radius: 5px;
	padding: 3px 5px;
	margin: 2px 6px;
	font-size: 14px;
	text-align: center;
}

.price span.valor { 	
 	font-size: 15px;
  	font-weight: 600;	
}


@media (min-width: 600px) {	
  	.carta { 
  		grid-template-columns: repeat(2, 1fr); 
  	}

  	.carta__product {	
	  	height: 12rem;
  	}

}

@media (min-width: 800px) {  

	.carta__product {	
	  	height: 14rem;
  	}

  	.nav-main ul {
		display: flex;	
		align-items: flex-end;
	}

	.nav-main ul li {
		padding: 10px;
	}

	ul.nav-menu-btn {
		display: none;
	}

  	.carta {
  	 	grid-template-columns: repeat(3, 1fr); 
  	 }
}

@media (min-width: 1024px) {  
	.carta {
  	 	grid-template-columns: repeat(4, 1fr); 
  	 }
  }
