*{	
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

body{
	background-color: #000000;
	color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5' viewBox='0 0 4 4'%3E%3Cpath fill='%23700000' fill-opacity='0.3' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
	font-size: 16px;
	font-family: "Noto sans", sans-serif;

}

a{
	color: #ffffff;
	text-decoration: none;
}

header{
	width: 100%;
	height: 100px;
	top: 0;
	left: 0;
}

ul {
	list-style: none;
}

/*NAVIGATION*/

nav {
	background-color: #345;
}

.nav-main {
	font-size: 18px;
	display: flex;		
	height: 60px;
	padding-top: 5px;
	
}

.nav-brand {
	display: flex;
	align-items: center;
}

.nav-logo {
	width: 50px;		
}

.nav-title{
	font-size: 1.3em;
	text-align: center;	
	font-family: sans-serif;
	padding: 5px;
	margin-bottom: 5px;	
}

.nav-main ul.nav-menu {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #2f3640;
	height: 100%;
	padding: 30px 10px;
	opacity: 0.9;
	transform: translateX(-300px);
	transition: transform .5s ease-in-out; 
	z-index: 100;
}

.nav-main ul.nav-menu li {
	display: block;
	padding: 5px;
	margin: 20px 10px;
}

li.item-menu:hover{
	color: red;
	margin-bottom: : 3px;
	border-bottom: 1px solid red;
}

.nav-main ul.nav-menu.show{
	transform: translateX(0px);
}


.nav-menu-btn {
	padding: 10px;
	position: absolute;
	right: 0;
	font-size: 1.4em;
}

/*CATEGORIES

.categories{
	display: flex;
	flex-wrap: nowrap;
}

.icon-category i{
	flex: 0 0 50px;
	font-size: 1.5em;
	padding: 2px;
	margin: 7px 5px 5px 5px;
	align-self: center;

}

.nav-categories {
   display: flex;
   align-items: center;
   flex-wrap: nowrap;
   overflow-x: auto;
   -webkit-overflow-scrolling: touch;
   -ms-overflow-style: -ms-autohiding-scrollbar; 
}

.nav-categories::-webkit-scrollbar {
  display: none; 
}


.nav-item {
	flex: 0 0 auto;
	padding: 5px;
	margin: 5px 7px;
	font-size: 1.2em;
    color: #182123;
    white-space: nowrap;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;

}

span.nav-item.active {
    border-bottom: 2px solid #FF4A19;
}

span.nav-item:hover {
    border-right: 1px solid #FF4A19;
    border-left: 1px solid #FF4A19;
    background-color: #FF4A1922;

}

*/

/*CARTA*/

.carta {
	max-width: 1200px;
  	margin: 0 auto;
  	display: grid;
  	grid-gap: 1rem;
        grid-template-columns: repeat(1, 1fr); 
}

.carta__product {	
  	background-color: #ffeecc;
  	color: white;
  	padding: 1rem;
  	height: 12rem;
  	position: relative;
}

h3.title__product {
	text-transform: uppercase;
	color: dodgerblue;
	border-bottom: 1px solid orange;
}

p.product__description {
	font-size: 14px;
	padding: 5px 0;
        color: #220000;
}

.prices_list{
	position: absolute;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	margin-bottom: 5px;
}

.price {	
	width: 150px;	
	background-color: #f26331;	
	border-radius: 5px;
	padding: 3px 5px;
	margin: 2px 6px;
	font-size: 14px;
	text-align: center;
}

.price span.valor { 	
 	font-size: 15px;
  	font-weight: 600;	
}
